<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Electronics shop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterSrv</display-name>
    <servlet-name>RegisterSrv</servlet-name>
    <servlet-class>com.ashish.srv.RegisterSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterSrv</servlet-name>
    <url-pattern>/RegisterSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ashish.srv.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductSrv</display-name>
    <servlet-name>AddProductSrv</servlet-name>
    <servlet-class>com.ashish.srv.AddProductSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductSrv</servlet-name>
    <url-pattern>/AddProductSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ashish.srv.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowImage</display-name>
    <servlet-name>ShowImage</servlet-name>
    <servlet-class>com.ashish.srv.ShowImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowImage</servlet-name>
    <url-pattern>/ShowImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.ashish.srv.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartDao</display-name>
    <servlet-name>CartDao</servlet-name>
    <servlet-class>com.ashish.dao.CartDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDao</servlet-name>
    <url-pattern>/CartDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCart</display-name>
    <servlet-name>AddCart</servlet-name>
    <servlet-class>com.ashish.srv.AddCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCart</servlet-name>
    <url-pattern>/AddCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProductServlet</display-name>
    <servlet-name>RemoveProductServlet</servlet-name>
    <servlet-class>com.ashish.srv.RemoveProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProductServlet</servlet-name>
    <url-pattern>/RemoveProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.ashish.srv.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderSrv</display-name>
    <servlet-name>OrderSrv</servlet-name>
    <servlet-class>com.ashish.srv.OrderSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderSrv</servlet-name>
    <url-pattern>/OrderSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShipmentSrv</display-name>
    <servlet-name>ShipmentSrv</servlet-name>
    <servlet-class>com.ashish.srv.ShipmentSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShipmentSrv</servlet-name>
    <url-pattern>/ShipmentSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCart</display-name>
    <servlet-name>UpdateCart</servlet-name>
    <servlet-class>com.ashish.srv.UpdateCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCart</servlet-name>
    <url-pattern>/UpdateCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerMessage</display-name>
    <servlet-name>CustomerMessage</servlet-name>
    <servlet-class>com.ashish.srv.CustomerMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerMessage</servlet-name>
    <url-pattern>/CustomerMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserImageSrv</display-name>
    <servlet-name>UserImageSrv</servlet-name>
    <servlet-class>com.ashish.srv.UserImageSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserImageSrv</servlet-name>
    <url-pattern>/UserImageSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetImageSrv</display-name>
    <servlet-name>SetImageSrv</servlet-name>
    <servlet-class>com.ashish.srv.SetImageSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetImageSrv</servlet-name>
    <url-pattern>/SetImageSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveImageServlet</display-name>
    <servlet-name>RemoveImageServlet</servlet-name>
    <servlet-class>com.ashish.srv.RemoveImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveImageServlet</servlet-name>
    <url-pattern>/RemoveImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveImage</display-name>
    <servlet-name>RemoveImage</servlet-name>
    <servlet-class>com.ashish.srv.RemoveImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveImage</servlet-name>
    <url-pattern>/RemoveImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.ashish.srv.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
</web-app>